@import "./hero.scss";
@import "./knowUs.scss";
@import "./navbar.scss";
@import "./variables";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap");

body{

    font-family: "Titillium Web", sans-serif;
    background-image: url(../img/hero-img.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

