@import "./hero.scss";
@import "./knowUs.scss";
@import "./mediaPlayer.scss";
@import "./navbar.scss";
@import "./productCard.scss";
@import "./cart.scss";
@import "./variables";
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #171717;
}