.containerMedia {
    background-color: #171717;

    .mediaPlayer {
        width: inherit;
        background-color:  #171717;
        padding-top: 2rem;
        padding-bottom: 2rem;
       
    }

}
